.tree {
  font-size: 12px;

  .tree-expander {
    cursor: pointer;
    margin-right: 6px;

    &:hover {
       color: var(--tree-expander-hover-color);
    }

    * {
      pointer-events: none;
    }
  }

  .tree-group {
    .tree-group-header {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 1.3em;

      .tree-group-header-content {
        display: flex;
        flex-flow: row;
        align-items: center;
      }

      input[type='checkbox'] {
        cursor: pointer;
      }

      .tree-group-count {
        margin-left: 10px;
        color: var(--tree-count-color);
      }
    }

    .tree-group-childs {
      .tree-channel {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-left: 50px;
        height: 1.3em;

        .tree-channel-content {
          display: flex;
          flex-flow: row;
          align-items: center;
        }

        .tree-channel-nr {
          width: 20px;
          font-size: 0.8em;
          margin-right: 8px;
          text-align: right;
          color: var(--tree-count-color);

          &:after {
            content: ')';
          }
        }
      }
    }

    .tree-group-header-content, .tree-channel-content {
      cursor: pointer;
      &:hover {
         background-color: var(--tree-hover-background-color);
         color: var(--tree-hover-color);
          .tree-group-count {
            color: var(--tree-hover-color);
          }
      }
    }
  }

}
