@use '../../scss/common';
@use '../../scss/preferences';

.tag-select {
  min-width: 160px;
}

.user {
  & {
    min-height: 400px;
    max-height: 480px;

    @include preferences.prefsRoot();
    @include preferences.prefsToolbar();
  }

  &__content {
    & {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
      justify-content: flex-start;
      overflow: hidden;
    }
    label {
      font-weight: bold;

      &:not(.target-not-exists) {
        color: var(--label-color);
      }

      &.target-not-exists {
        color: var(--attention-color);
      }
    }

    &-targets {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
      gap: 20px;
      justify-content: flex-start;
      padding-right: 6px;
      overflow: hidden;
    }
  }

  &__target {
    & {
      display: flex;
      flex-flow: column;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      overflow: hidden;
      background-color: var(--background-color);
      gap: 12px;
    }

    &-target {
      & {
        font-size: 1.2rem;
        align-items: center;
        display: flex;
        flex-flow: row;
        padding: 8px;
      }

      label {
        flex: 1 1 0;
      }

      &-toolbar {
        & {
          flex: 0 0 auto;
          padding-right: 8px;
        }
        button {
          @include common.iconButton();
        }
      }
    }

    &-user {
      &-table-container {
        flex: 1 1 auto;
        overflow-y: scroll;
        background-color: var(--card-background-color);
        padding: 8px;
      }
      &-table {
        margin: 8px 4px;
        display: table;
        table-layout: auto;
        width: auto;
        border-collapse: collapse;
      }

      &-row {
        display: table-row;
        width: auto;
        clear: both;
        border: 1px solid var(--table-border-color);
      }

      &-col-header {
        padding: 8px;
        background-color: var(--background-color);
      }

      &-col {
        & {
          display: table-cell;
          width: auto;
          vertical-align: middle;
          padding-left: 4px;
          padding-right: 4px;
        }
        input {
          border: none !important;
          height: 2rem;
        }

        &-number {
          max-width: 50px;
        }

        &-toolbar {
          & {
            display: flex;
            flex-flow: row;
            align-items: flex-end;
            justify-content: flex-end;
            padding-left: 4px;
          }
          span {
            padding: 4px;
            transform: scale(0.7) translateY(5px);
            @include common.iconButton();
          }
        }
      }

      &-col-label {
        display: none;
      }

      @media (max-width: 980px) {
        &-table {
          display: flex;
          flex-flow: column;
          gap: 20px;

          &-header {
            display: none !important;
          }

        }

        &-row {
          display: flex;
          flex-flow: column;
          gap: 4px;
        }

        &-col-label {
          display: block;
          padding: 4px;
        }

        &-col {
          display: flex;
          flex-flow: column;
          padding-top: 4px;
          padding-bottom: 4px;
          gap: 4px;

          input {
            border-top: 1px solid var(--table-border-color) !important;
            border-bottom: 1px solid var(--table-border-color) !important;
          }
        }
      }
    }
  }

  @include preferences.prefsInput;
}

