@use '../../scss/common';

.user {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  gap: 20px;
  align-content: flex-start;
  justify-content: center;
  overflow: hidden;

  &__toolbar {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: flex-end;

    button {
      @include common.textButton();
    }
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    flex: 1 1 auto;
    align-content: flex-start;
    justify-content: center;
    overflow: auto;

  }

  &__target {
    display: flex;
    flex-flow: column;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 6px;

    &-target {
      font-size: 1.2rem;
      border-bottom: 2px dashed var(--border-color);
      align-items: center;
      display: flex;
      flex-flow: row;

      label {
        flex: 1 1 0;
      }
    }

    &-user {
      padding: 10px 0;

      &-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        padding: 8px 0;
        border-bottom: 1px solid var(--border-light-color);
      }

      &-data {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
      }

      &-entry {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 10px;

        label {
          width: 100px;
          font-weight: bold;
          color: var(--label-color);
          text-align: right;

          &:after {
            content: ':'
          }
        }
      }
    }
  }

  input {
    color: var(--text-color);
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    flex: 1 1 auto;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    &:focus,
    &:hover {
      outline: none;
    }
  }

  .toolbar {
    button {
      @include common.iconButton();
    }
  }
}

.target-not-exists {
  color: red;
}
