@use '../../scss/common';
@use '../../scss/preferences';

.user {
  @include preferences.prefsRoot();
  @include preferences.prefsToolbar();

  &__content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    overflow: hidden;

    label {
      font-weight: bold;

      &:not(.target-not-exists) {
        color: var(--label-color);
      }

      &.target-not-exists {
        color: var(--attention-color);
      }
    }

    &-targets {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
      overflow: auto;
      gap: 20px;
      justify-content: flex-start;
      padding-right: 6px;
    }
  }

  &__target {
    display: flex;
    flex-flow: column;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: var(--border-radius);

    &-target {
      font-size: 1.2rem;
      border-bottom: 2px dashed var(--border-color);
      align-items: center;
      display: flex;
      flex-flow: row;

      label {
        flex: 1 1 0;
      }

      &-toolbar {
        flex: 0 0 auto;
        button {
          @include common.iconButton();
        }
        padding-right: 8px;
      }
    }

    &-user {
      &-table {
        margin: 8px 4px;
        display: table;
        width: auto;
      }

      &-row {
        display: table-row;
        width: auto;
        clear: both;
      }

      &-col {
        display: table-cell;
        width: auto;

        &-toolbar {
          display: flex;
          flex-flow: row;
          align-items: flex-end;
          span {
            padding: 4px;
            @include common.iconButton();
          }
        }
      }

      &-col-label {
        display: none;
      }

      @media (max-width: 750px) {
        &-table {
          display: flex;
          flex-flow: column;
          gap: 20px;

          &-header {
            display: none !important;
          }

        }

        &-row {
          display: flex;
          flex-flow: column;
          gap: 4px;
        }

        &-col-label {
          display: block;
        }

        &-col {
          display: flex;
          flex-flow: column;
          gap: 4px;
        }
      }
    }
  }

  @include preferences.prefsInput;
}

