@use '../../scss/common';

.user {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-content: flex-start;
  justify-content: center;
  flex-shrink: 0;

  &__toolbar {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;

    label {
      flex: 1 1 auto;
      font-size: 2rem;
      font-weight: bold;
      color: var(--title-label-color);
    }

    button {
      @include common.textButton();
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    overflow: hidden;

    label {
      font-weight: bold;
      &:not(.target-not-exists) {
        color: var(--label-color);
      }
      &.target-not-exists {
        color: var(--attention-color);
      }
    }

    &-targets {
      display: flex;
      flex-flow: column;
      flex: 1 1 auto;
      overflow: auto;
      gap: 20px;
      justify-content: flex-start;
      padding-right: 6px;
    }
  }

  &__target {
    display: flex;
    flex-flow: column;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: var(--border-radius);

    &-target {
      font-size: 1.2rem;
      border-bottom: 2px dashed var(--border-color);
      align-items: center;
      display: flex;
      flex-flow: row;

      label {
        flex: 1 1 0;
      }
    }

    &-user {
      &-table {
        margin: 8px 4px;
        display:table;
        width:auto;
      }
      &-col {
        display:table-cell;
        width:auto;
      }
      &-row {
        display:table-row;
        width:auto;
        clear: both;
      }
    }
  }

  input {
    color: var(--text-color);
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    flex: 1 1 auto;
    border: 1px solid var(--border-color);

    &:focus,
    &:hover {
      outline: none;
    }
  }
}

