@use '../../scss/theme';
@use '../../scss/common';

$viewer-height: 200px;

.clipboard-viewer {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;

  .clipboard-viewer-toolbar {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    color: var(--text-color);
    background-color: var(--toolbar-background-color);
    padding: 8px 0 8px 0;

    .toolbar-btn {
      cursor: pointer;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      background-color: transparent;
      color: var(--toolbar-button-hover-color);
      margin-right: 8px;
      &:hover {
        background-color: var(--toolbar-button-hover-background-color);
      }
    }
  }

  .clipboard-viewer-content {
    flex-grow: 1;
    max-height: $viewer-height;
    color: var(--text-color);
    overflow: auto;
    white-space: nowrap;
    padding: 8px;

    @include common.list();

  }
}