/target
/frontend/build
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.m3u

.idea
*.iml

node_modules
yarn.lock