
.tooltip {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 9999;
}
