@import '../../scss/theme';
$toggle-size: 24px;

.sidebar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1 1 auto;
  overflow: hidden;

  .sidebar-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1 1 auto;
    overflow: hidden;
  }
  .sidebar-collapsed {
    max-height: 0;
    height: 0;
    overflow: hidden;
  }

  .sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-toggle-color);
    cursor: pointer;

    &:hover {
      background-color: var(--sidebar-toggle-hover-color);
    }
  }
}
