@use '../../scss/common';

.preferences {
  @include common.container_horz();
  overflow: hidden;
  flex: 1 1 auto;

  &__content {
    @include common.container_horz_nowrap(flex-start);
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__panels {
    @include common.container_vert_no_padding(flex-start);
    overflow: hidden;
    flex: 1 1 auto;

    .panel {
      @include common.container_vert();
      flex: 1 1 auto;
      overflow: hidden;
      .card {
        @include common.container_vert();
        flex: 1 1 auto;
        overflow: hidden;
      }
    }
  }

  &__sidebar {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    @media (max-width: common.$media-size-mobile) {
      flex-flow: row;
    }
    //max-width: 48px;
    //min-width: 48px;
    //width: 48px;
    @media (max-width: common.$media-size-mobile) {
      max-width: 32px;
      min-width: 32px;
    }
    gap: 12px;

    button {
      @include common.iconButton();
      border: 1px solid transparent;
    }

    button.selected {
      color: var(--icon-button-hover-color);
      background-color: var(--icon-button-hover-background-color);
      border: 1px solid var(--icon-button-hover-border-color);
    }

    &-menu-action {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
      align-items: center;
      cursor: pointer;
      //color: var(--icon-button-hover-color);
      //color: var(--icon-button-hover-background-color);
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 4px;
      user-select: none;

      &:hover {
        border: 1px solid var(--icon-button-hover-border-color);
      }
    }

    &-menu-action.selected {
      color: var(--label-color);
    }
  }

}