@use '../../scss/common';

.preferences {
  display: flex;
  flex-flow: row;
  padding: 12px;
  overflow: hidden;
  justify-content: center;
  gap: 18px;
  flex: 1 1 auto;

  &__content {
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: common.$media-size-mobile) {
      flex-flow: column;
    }

    justify-content: flex-start;
    gap: 12px;
    flex: 1 1 auto;
  }

  &__panels {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow: hidden;
    .panel {
      flex: 1 1 auto;
      .card {
        flex: 1 1 auto;
      }
    }
  }

  &__sidebar {
    display: flex;
    flex-flow: column;
    @media (max-width: common.$media-size-mobile) {
      flex-flow: row;
    }
    //max-width: 48px;
    //min-width: 48px;
    //width: 48px;
    @media (max-width: common.$media-size-mobile) {
      max-width: 32px;
      min-width: 32px;
    }
    gap: 12px;

    button {
      @include common.iconButton();
      border: 1px solid transparent;
    }

    button.selected {
      color: var(--icon-button-hover-color);
      background-color: var(--icon-button-hover-background-color);
      border: 1px solid var(--icon-button-hover-border-color);
    }

    &-menu-action {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
      align-items: center;
      cursor: pointer;
      //color: var(--icon-button-hover-color);
      //color: var(--icon-button-hover-background-color);
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 4px;
      user-select: none;

      &:hover {
        border: 1px solid var(--icon-button-hover-border-color);
      }
    }

    &-menu-action.selected {
      color: var(--label-color);
    }
  }

}