.preferences {
  display: flex;
  flex-flow: row;
  padding: 12px;
  overflow: hidden;
  justify-content: center;
  gap: 18px;

  @media (max-width:980px) {
    flex-flow: row wrap;
    overflow: auto;
  }


  //.user {
  //  max-height: 90%;
  //}
}