@use '../../scss/common';
@use '../../scss/preferences';

.main-config {

  @include preferences.prefsRoot();
  @include preferences.prefsToolbar();
  @include preferences.prefsForm();

  &__content-form {
    display: flex;
    flex-flow: column;
  }

  &__content-help-img {
    max-width: 360px;
    height: auto;
    fill: currentColor;
  }
}

