@use '../../scss/common';
@use '../../scss/preferences';

.main-config__form, .reverse-proxy__form {
    .form-view__col-label {
      width: 12em;
    }
}

.main-config {

  @include preferences.prefsRoot();
  @include preferences.prefsToolbar();
  @include preferences.prefsForm();

  &__content-form {
    @include common.container_vert_no_padding();
  }

  &__content {
    @include common.container_vert_no_padding(flex-start);
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;

    &-form {
      &__section-title {
        color: var(--title-label-color);
        font-weight: bold;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 4px;
        margin: 8px 0;
      }
      .form-view__col-label {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        @media (max-width: common.$media-size-mobile) {
          justify-content: flex-start;
        }
      }
    }

    &-help {

      &-img {
        max-width: 360px;
        height: auto;
        fill: currentColor;
      }

      pre {
        display: inline;
      }
    }
  }

  &__restart {
    @include common.container_horz_no_padding();
    border-top: 1px solid var(--border-color);
    padding-top: 12px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    color: var(--label-color);

    &-warn-icon {
      color: var(--warn-color);
    }
  }

}

