@use '../../scss/common';
@use '../../scss/preferences';

.main-config {

  @include preferences.prefsRoot();
  @include preferences.prefsToolbar();
  @include preferences.prefsForm();

  &__form {
    .form-view__col-label {
       width: 12em;
    }
  }

  &__content-form {
    display: flex;
    flex-flow: column;
  }

  &__content {

    display: flex;
    flex-flow: column;
    gap: 4px;
    align-items: stretch;

    &-form {
      &__section-title {
        color: var(--label-color);
        font-weight: bold;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 4px;
        margin: 8px 0;
      }
    }

    &-help {

      &-img {
        max-width: 360px;
        height: auto;
        fill: currentColor;
      }

      pre {
        display: inline;
      }
    }
  }

  &__restart {
    display: flex;
    flex-flow: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: var(--label-color);

    &-warn-icon {
      color: var(--warn-color);
    }
  }

}

