@use '../../scss/common';
@use '../../scss/preferences';

.form-view {
  @include common.container_vert_no_padding();

  .label-hint {
    cursor: pointer;
    svg {
      fill: var(--text-color);
      height: 0.7em;
    }
  }

  &__map-editor {
    @include common.container_horz_nowrap();
    flex: 1 1 auto;
    overflow: hidden;
    padding:0;
  }

  &__table {
    @include common.container_vert_no_padding();
  }

  &__row {
    flex-flow: row nowrap;
    @include common.container_common(flex-start, 0);
    @media (max-width: common.$media-size-mobile) {
      flex-flow: column;
      &:nth-child(even) {
       background-color: var(--card-background-color-darker);
        border-radius: var(--border-radius);
      }
    }
  }

  &__col {
    display: flex;
    flex-flow: row;
    padding: 6px;

    &-label {
      display: flex;
      min-width: 10em;
      width: 10em;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: common.$media-size-mobile) {
        justify-content: flex-start;
      }
    }

    &-value {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      overflow: hidden;
      gap: 4px;

      button {
        border: 1px solid var(--text-button-border-color);
        font-size: 1.2rem;
        height: 100%;
        border-radius: var(--text-button-border-radius);
        background-color: var(--text-button-background-color);
        color: var(--text-button-color);
      }
    }

    label {
      font-weight: bold;
      color: var(--label-color);

      &:after {
        content: ':'
      }
    }

    input {
      @include preferences.prefsInput();
      flex: 1 1 0;
      min-width: 0;
      width: 100%;
    }
  }
}

