@use '../../scss/common';
@use '../../scss/preferences';
@use '../../scss/date-picker';

.form-view {
  @include common.container_vert_no_padding();

  &__map-editor {
    @include common.container_horz_nowrap();
    flex: 1 1 auto;
    overflow: hidden;
    padding:0;
  }

  &__table {
    @include common.container_vert_no_padding();
  }

  &__row {
    @include common.container_horz_nowrap(flex-start);
    padding:0;
  }

  &__col {
    display: flex;
    flex-flow: row;
    padding: 6px;

    &-label {
      width: 7em;
      justify-content: flex-end;
      align-items: flex-start;
    }

    &-value {
      display: flex;
      flex: 1 1 auto;
      align-items: flex-start;
      overflow: hidden;
    }

    label {
      font-weight: bold;
      color: var(--label-color);

      &:after {
        content: ':'
      }
    }

    input {
      //flex: 1 0 auto;
      @include preferences.prefsInput();
    }
  }
}

