.playlist-filter {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  &__option-active {
    box-sizing: border-box !important;
    transform: scale(0.8);
    background-color: var(--option-active-background-color) !important;
    color: var(--option-active-color) !important;
    svg {
      color: var(--option-active-color) !important;
    }
  }


  &__error-message {
    display: flex;
    flex-flow: row;
    color: var(--attention-color);
    white-space: nowrap;
    align-items: center;
    margin-left: 8px;
  }
}