@use "../../scss/common";

.playlist-filter {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 0 10px 0;
  max-height: 2.5rem;
  font-size: 0.5rem;
  flex: 1 1 auto;
  max-width: 400px;
  background-color: inherit;

  .input-field {
    flex: 1 1 auto;
  }

  &__option-active {
    @include common.activeOptionButton();
  }

  &__error-message {
    display: flex;
    flex-flow: row;
    color: var(--attention-color);
    white-space: nowrap;
    align-items: center;
    margin-left: 8px;
  }
}