@use '../../scss/common';

.map-editor {
  @include common.container_vert();
  flex: 1 1 auto;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 8px;

  &__toolbar {
    flex: 0 0 auto;
    span {
      @include common.iconButton();
    }
  }

  &__table {
    @include common.container_vert_no_padding();
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    flex: 1 1 auto;

  }

  &__col  {
    display: flex;
    align-items: center;
  }

  &__col-key, &__col-value {
    user-select: none;
    box-sizing: border-box;
    min-width: 12rem;
    border: 1px solid var(--border-color);
    padding: 0 4px;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__col-value {
    flex: 1 1 auto;
  }

  &__input {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;

    &-key, &-value {
      box-sizing: border-box;
      min-width: 12rem;
      display: flex;
      gap: 10px;
      input {
        padding: 4px 0;
      }
    }

    button {
      @include common.textButton();
    }
  }


}