@use '../../scss/common';
@use '../../scss/preferences';

.tag-select {
  min-width: 160px;
}

.user-editor {
  & {
    min-height: 400px;
    @include preferences.prefsToolbar();

  }

  &__content {
    @media (max-width: common.$media-size-mobile) {
      .form-view__col-label {
        justify-content: flex-start;
      }
    }
  }
}

