@mixin iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-button-color);
  background-color: var(--icon-button-background-color);
  border: none;
  border-radius: var(--icon-button-border-radius);
  aspect-ratio: 1 / 1;
  cursor: pointer;

  svg {
    color: var(--text-color);
  }
  &:hover {
    svg {
      color: var(--text-button-hover-color);
    }
  }

  &:focus,
  &:hover {
    color: var(--icon-button-hover-color);
    background-color: var(--icon-button-hover-background-color);
    outline: none;
  }
}

@mixin textButton {
  border: 1px solid var(--text-button-border-color);
  font-size: 1.2rem;
  border-radius: var(--text-button-border-radius);
  padding: 4px 12px;
  background-color: var(--text-button-background-color);
  color: var(--text-button-color);
  &:focus,
  &:hover {
    background-color: var(--text-button-hover-background-color);
    color: var(--text-button-hover-color);
    border: 1px solid transparent;
    outline: none;
  }
}

@mixin list {
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    li {
      padding: 8px;
      border-radius: var(--border-radius);
    }
  }
}

@mixin list-hover {
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    li {
      padding: 8px;
      border-radius: var(--border-radius);
      user-select: none;
      cursor: pointer;

      &:hover {
        color: var(--popup-hover-color);
        background-color: var(--popup-hover-background-color);
      }
    }
  }
}