@mixin iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--playlist-color);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  svg {
    color: var(--text-color);
  }

  &:focus,
  &:hover {
    background-color: var(--tree-hover-background-color);
    border: none;
    outline: none;
  }
}

@mixin textButton {
  background-color: #0081fa;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  padding: 4px 12px;
}

@mixin list {
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    li {
      padding: 8px;
      border-radius: var(--border-radius);
    }
  }
}

@mixin list-hover {
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    li {
      padding: 8px;
      border-radius: var(--border-radius);
      user-select: none;
      cursor: pointer;

      &:hover {
        color: var(--popup-hover-color);
        background-color: var(--popup-hover-background-color);
      }
    }
  }
}