.text-input {
  flex-grow: 1;

  .MuiFormLabel-root {
    color: var(--playlist-color);
    font-size: 1.2em;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color);
  }

  .MuiInputBase-input {
    color: var(--playlist-color);
  }
}

.icon-button {
  color: var(--playlist-color);
  svg {
    color: var(--playlist-color);
  }
  &:hover {
    background-color: var(--tree-hover-background-color) !important;
  }
}