@use './common';


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--scrollbar-handle-color);
}


button {
  cursor: pointer;
  //&:active {
  //  transform: scale(0.90); /* Scaling button to 0.98 to its original size */
  //}
}

.hidden {
  display: none !important;
}

.card {
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  align-content: flex-start;
  overflow: hidden;
  padding: 20px;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-background-color);
  color: var(--card-color);
  filter: drop-shadow(3px 3px 4px var(--popup-shadow-color));
  min-width: 200px;

  border-radius:var(--border-radius);

}

.vert-group {
  display: flex;
  flex-flow: column;
  gap: 20px;
  overflow: hidden;
  padding: 0 4px 4px 0;
}

select,
input {
  background-color: transparent;
  color: var(--text-color);
  &:focus {
    background-color: var(--background-color) !important;
  }
}

select {
  padding: 2px 4px;
}

.tool-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: var(--border-radius);
  background-color: var(--tool-button-background-color);
  color: var(--tool-button-color);
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    color: var(--tool-button-hover-color);
    background-color: var(--tool-button-hover-background-color);
  }

  &:active {
    transform: scale(0.9);
  }
}