@use './common';

.input-field {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  flex: 1 1 auto;
  padding: 2px;

  &:focus-within {
    border: 1px solid var(--hover-border-color);
  }

  label {
    position: absolute;
    color: var(--label-color);
    transform: translate(6px, -0.8rem);
    background-color: var(--background-color);
    padding: 0 2px;
  }

  input {
    color: var(--text-color);
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    flex: 1 1 auto;

    &:focus,
    &:hover {
      border: none;
      outline: none;
    }
  }

  button {
    @include common.iconButton();
  }
}

.app {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0081fa #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0081fa;
    border-radius: 10px;
    border: none;
  }
}

button {
  cursor: pointer;
  &:active {
    transform: scale(0.90); /* Scaling button to 0.98 to its original size */
  }
}

.hidden {
  display: none !important;
}

.card {
  display: flex;
  flex-flow: column;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 20px;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-background-color);
  color: var(--card-color);
  filter: drop-shadow(3px 3px 4px var(--popup-shadow-color));
}