@use './common';

@mixin prefsRoot {
  @include common.container_vert_no_padding(flex-start);
  align-content: flex-start;
  overflow: hidden;
}

@mixin prefsInput {
    color: var(--text-color);
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    flex: 1 1 auto;
    border: 1px solid var(--border-color);

    &:focus,
    &:hover {
      outline: none;
    }
}

@mixin prefsToolbar() {
  &__toolbar {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    background-color: inherit;

    label {
      flex: 1 1 auto;
      font-size: 2rem;
      font-weight: bold;
      color: var(--title-label-color);
    }

    button {
      @include common.textButton();
    }
  }
}

@mixin prefsForm() {
  &__content {
    display: flex;
    flex-flow: column;

    &-help {
      display: flex;
      flex-flow: column;
      gap:12px;
      border-top: 1px solid var(--border-light-color);
      padding-top: 12px;
      color: var(--label-color);

      pre {
        margin: 0;
      }
    }

  }

}