:root {
  --background-color: #2b2b2b;
  --app-header-color: #6495b1;
  --playlist-color: #aeb0b2;
  --border-color: #aeb0b2;
  --spinner-color: #ffffff66;
  --spinner-highlight-color: #f50d0d;
  --tree-count-color: #7b7b7e;
  --tree-hover-background-color: #004db4;
  --tree-hover-color: white;
  --tree-expander-hover-color: white;
}