:root {
  --media-size-mobile: 600px;
  --text-color: #ffffff;
  --label-color: #73d6fe;
  --background-color: #303946; //#121212;
  --app-header-color: #73d6fe; //#6495b1;
  --sidebar-toggle-color: #ffffff;
  --sidebar-toggle-hover-color: #47495d;
  --playlist-color: #aeb0b2;
  --border-color: #47495d;
  --border-light-color: #68686c;
  --hover-border-color: #aaaab0;
  --spinner-color: #ffffff66;
  --spinner-highlight-color: #5599f0;
  --tree-count-color: #7b7b7e;
  --tree-hover-background-color: #004db4;
  --tree-hover-color: white;
  --tree-expander-hover-color: white;
  --tool-button-background-color: #434343;
  --tool-button-color: #fff;
  --tool-button-hover-color: #ffffff;
  --tool-button-hover-background-color: #0c8a13;

  --toolbar-background-color: #282A36;
  --toolbar-button-hover-color: #ffffff;
  --toolbar-button-hover-background-color: #004db4;

  --popup-background-color: #282A36;
  --popup-shadow-color: #06070a;
  --popup-border-color: #646464;
  --popup-color: #fff;
  --popup-hover-background-color: #5599f0;
  --popup-hover-color: #fff;

  --attention-color: red;
  --warn-color: orange;
  --ok-color: #21e821;

  --card-background-color: #202733; //#282828;
  --card-color: #ffffff;
  --card-border-color: #47495d;

  --title-label-color: #6495b1;

  --border-radius: 8px;

  --icon-button-border-radius: 4px;
  --icon-button-background-color: #124a9b;
  --icon-button-color: #ffffff;
  --icon-button-hover-background-color: #0d6efd;
  --icon-button-hover-color: #ffffff;
  --icon-button-hover-border-color: #ced9fb;


  --text-button-border-radius: 4px;
  --text-button-border-color: transparent;
  --text-button-background-color: #124a9b;
  --text-button-color: #ffffff;
  --text-button-hover-background-color: #0d6efd;
  --text-button-hover-color: #ffffff;


  --scrollbar-track-color: #838383;
  --scrollbar-handle-color: #505050;

  --tabset-background-color: #44475a47; // #282A36;
  --tabset-border-color: #535353;
  --tab-background-color: #44475A;
  --tab-color: #fff;
  --tab-hover-background-color: #6272A4;
  --tab-hover-color: #50FA7B;
  --tab-avtive-indicator-color: #50FA7B;
  --tab-active-background-color: #54547a;
  --tab-active-color: #50FA7B;

  --table-border-color: #44475a;

  --checkbox-background-color: #44475A;
  --checkbox-hover-background-color: #006fee;
  --checkbox-checked-background-color: #006fee;
  --checkbox-border-radius: 4px;

  --option-active-background-color: #50FA7B;
  --option-active-color: #000;

  --shocase-card-background: #4b4b4b;
}
