@use '../../scss/common';

.playlist-tree {
  font-size: 1rem;

  .tree-expander {
    margin-right: 6px;

    &:hover {
      color: var(--tree-expander-hover-color);
    }
  }

  .tree-expander, .tool-button {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

  .tree-group {
    .tree-group-header {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 1.3rem;

      .tree-group-header-content {
        display: flex;
        flex-flow: row;
        align-items: center;
      }

      input[type='checkbox'] {
        cursor: pointer;
        accent-color: var(--checkbox-checked-background-color);
      }

      .tree-group-count {
        margin-left: 10px;
        color: var(--tree-count-color);
      }
    }

    .tree-group-childs {
      .tree-channel {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-left: 50px;
        height: 1.3rem;
        gap: 3px;

        .tree-channel-tools {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 3px;

          .tool-button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.1rem;
            width: 1.1rem;
            border-radius: var(--border-radius);
            background-color: var(--tool-button-background-color);
            color: var(--tool-button-color);

            svg {
              width: 1rem;
              height: 1rem;
            }

            &:hover {
              color: var(--tool-button-hover-color);
              background-color: var(--tool-button-hover-background-color);
            }
          }
        }

        .tree-channel-content {
          display: flex;
          flex-flow: row;
          align-items: center;
          white-space: nowrap;
        }

        .tree-channel-nr {
          min-width: 2rem;
          font-size: 1rem;
          margin-right: 8px;
          text-align: right;
          color: var(--tree-count-color);

          &:after {
            content: ')';
          }
        }
      }
    }

    .tree-group-header-content, .tree-channel-content {
      cursor: pointer;

      &:hover {
        background-color: var(--tree-hover-background-color);
        color: var(--tree-hover-color);

        .tree-group-count {
          color: var(--tree-hover-color);
        }
      }
    }
  }
}
