@use '../../scss/common';

.playlist-tree {

  font-size: 1rem;

  .tree-expander {
    margin-right: 6px;

    &:hover {
      color: var(--tree-expander-hover-color);
    }
  }

  .tree-expander, .tool-button {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

  .tree-group {
    &__header {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 1.3rem;
      white-space: nowrap;

      &-content {
        display: flex;
        flex-flow: row;
        align-items: center;
      }

      input[type='checkbox'] {
        cursor: pointer;
        accent-color: var(--checkbox-checked-background-color);
      }

    }

    &__count {
      margin-left: 10px;
      color: var(--tree-count-color);
    }

    &__childs {
      .tree-group__channel {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-left: 50px;
        height: 1.3rem;
        gap: 3px;

        &-tools {
          display: flex;
          flex-flow: row;
          align-items: center;
          gap: 3px;

        }

        &-content {
          display: flex;
          flex-flow: row;
          align-items: center;
          white-space: nowrap;
        }

        &-nr {
          min-width: 2rem;
          font-size: 1rem;
          margin-right: 8px;
          text-align: right;
          color: var(--tree-count-color);

          &:after {
            content: ')';
          }
        }
      }
    }

    &__header-content, &__channel-content {
      cursor: pointer;

      &:hover {
        background-color: var(--tree-hover-background-color);
        color: var(--tree-hover-color);

        .tree-group__count {
          color: var(--tree-hover-color);
        }
      }
    }
  }
}
