@use '../../scss/common';
@use '../../scss/preferences';

.target-update {
  @include preferences.prefsRoot();

  @include common.list();


  @include preferences.prefsToolbar();

  &__content {
    overflow: auto;
    display: flex;
    flex-flow: column;
    padding: 12px;

  }
}