@use '../../scss/theme';

.login {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: 20% auto auto auto;
  border: 1px solid var(--border-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  .title {
    background-color: var(--app-header-color);
    padding: 8px;
  }

  &__form {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 8px;
    width: 300px;

    input {
      height: 2rem;
      border: none;
      font-size: 1.4rem;
      background-color: var(--card-background-color);
      padding: 4px 8px;
    }

    button {
      height: 2rem;
      border: none;
      font-size: 1.4rem;
      background-color: var(--text-button-background-color);
      color: var(--text-button-color);
      padding: 4px 8px;
      border-radius: 6px;
    }
  }
}