@use '../../scss/theme';
@use '../../scss/common';

.login-view {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: 10% auto auto auto;
  border: 1px solid var(--border-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    svg {
      height: 100%;
      width: 100%;
      color: color-mix(in srgb, var(--background-color) 80%, black 10%);
    }
  }

  &__title {
    background-color: var(--card-background-color);
    color: var(--card-color);
    padding: 8px;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 8px;
    width: 300px;

    input {
      height: 2rem;
      border: none;
      border-radius: 6px;
      font-size: 1.4rem;
      background-color: var(--card-background-color);
      padding: 4px 8px;
    }
    input[type="password"] {
      caret-color:  var(--card-color);
    }

    button {
      @include common.textButton();
    }

    .error-text {
      color: var(--attention-color);
      font-size: 1rem;
    }
  }
}