@use '../../scss/theme';
@use '../../scss/common';

.login-view {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin: 10% auto auto auto;
  border: 1px solid var(--border-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  &__title {
    background-color: var(--app-header-color);
    padding: 8px;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 8px;
    width: 300px;

    input {
      height: 2rem;
      border: none;
      border-radius: 6px;
      font-size: 1.4rem;
      background-color: var(--card-background-color);
      padding: 4px 8px;
    }

    button {
      @include common.textButton();
    }

    .error-text {
      color: var(--attention-color);
      font-size: 1rem;
    }
  }
}