@use 'scss/theme';
@use 'scss/default';
@import '@fontsource/rubik/400.css';

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-content: stretch;
  align-items: stretch;

  input, textarea, select, button {
    font-family: inherit;
  }

  input {
    height: 2rem;
    border-radius: 6px;
  }

  select {
    border-color: var(--border-color);
  }
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  background-color: inherit;
}

dialog {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);
  filter: drop-shadow(6px 6px 6px var(--popup-shadow-color));
  &::backdrop {
    background: rgba(0, 0, 0, 0.3); /* Schwarzer, halbtransparenter Hintergrund */
  }
}
