@use 'scss/theme';
@use 'scss/default';

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  box-sizing: border-box;
}