.rti--container {
  --rti-bg: inherit !important;
  --rti-border: none !important;
  --rti-tag: var(--checkbox-checked-background-color) !important;
  --rti-tag-color: var(--text-color) !important;
  --rti-tag-border: var(--border-light-color) !important;
  --rti-tag-remove: var(--text-color) !important;
  --rti-tag-remove-hover: var(--tab-active-color) !important;
  max-width: 660px;
}
