@use '../../scss/common';

.popup-menu {
  position: fixed;
  z-index: 9999;
  color: var(--popup-color);
  background-color: var(--popup-background-color);
  border: 1px solid var(--popup-border-color);
  border-radius: var(--border-radius);
  padding: 4px;
  filter: drop-shadow(8px 9px 7px var(--popup-shadow-color));

  @include common.list-hover();
}