.playlist-viewer {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 10px;
  height: 100%;
  color: var(--playlist-color);
  box-sizing: border-box;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4px;
  }

  &__content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow: auto;
    box-sizing: border-box;
  }

  .group-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .group-label-text {
      width: 400px;
    }
  }
}