@use '../../scss/common';
@use '../../scss/preferences';

.user-playlist {
  @include common.container_vert();
  overflow: hidden;

  @include preferences.prefsToolbar();

  &__content {
    @include common.container_horz_no_padding();
    overflow: hidden;

    &-toolbar {
      @include common.container_vert_no_padding();
      button {
        @include common.iconButton();
        height: 48px;
      }

      .button-active {
        @include common.activeOptionButton();
      }
    }

    &-panels {
      @include common.container_vert_no_padding();
      flex: 1 1 auto;
      overflow: hidden;
    }
  }
}